<% provide(:title, 'Hakkımızda') %>
<h1>Hakkımızda</h1>
<p>AYS, 2013 yılında, Gediz Üniversitesi 4.sınıf Bilgisayar Mühendisliği öğrencileri tarafından
	Merter Sitesi için yapılmıştır.</p>
<p>Merter sitesi 2004 yılında inşa edilmiş olup, günümüzde 3 kişilik apartman yönetimi tarafından yönetilmektedir.</p>
<h2>CUM. Mah. 604 Sok. No:11, Ulukent/İZMİR</h2>
