<% provide(:title, 'İletişim') %>
<h1>İletişim Sayfası</h1>
<p>Yönetici ile iletişime geçmek için <a href="mailto:ahmetaslan1956@gmail.com">bu maili kullanınız.</a></p>
<p>Yazılım üzerinde herhangi bir sorun bildirmek veya ile iletişime geçmek için 
	<a href='https://sites.google.com/site/amsteamproject/the-team'>tıklayınız.</a></p>
