<% provide(:title, 'Yardım') %>
<h1>Yardım Sayfası</h1>
<p>AYS projesi ile ilgili detaylı bilgi, problem ve sorularınız için
	<a href='https://sites.google.com/site/amsteamproject'>ziyaret ediniz.</a></p>
