<% provide(:title, 'Anasayfa') %>

<div class="center hero-unit">
	<% if signed_in? %>
		<% if current_user.admin? %>
			<h3>AYS uygulamasına hoşgeldiniz!</h3>
			<h2><br/>Şuan sistemde yetkili olarak görevlisiniz.</h2>
			<h2>Navigasyon çubuğundaki linkleri kullanarak uygulamayı yönetebilirsiniz.</h2>
		<% else %>
			<h3>Merter sitesi, AMS uygulamasına hoşgeldiniz</h3>
			<h2>Sisteme üye olarak giriş yapmış bulunmaktasınız.</h2>
			<h2>Navigasyon çubuğundan izinli olduğunuz sayfalara erişebilirsiniz.</h2>
		<% end %>	
	<% else %>
		<h3>Merter sitesine hoşgeldiniz</h3>
		<h2>
			Giriş yaptıktan sonra ana sayfaya yönlendirileceksiniz.<br/><br/> Üye değil misiniz ?
		</h2>
		<%= link_to "Hemen Üye Olun!", signup_path , class: "btn btn-large btn-primary"%>
	<% end %>

</div>

<!--<%= link_to image_tag("rails.png",alt:"Rails"), 'http://rubyonrails.org/'%>!-->
