<% provide(:title, 'Anasayfa') %>

<div class="center hero-unit">
	<h3>AYS uygulamasına hoşgeldiniz</h3>
	<h2>
		Bu sayfa AYS(Apartman Yönetim Sistemi) ana sayfasıdır.<br/><br/> Uygulamayı hemen kullanmaya başlamak için üye olunuz...
	</h2>
	<%= link_to "Hemen Kayıt Ol!", signup_path , class: "btn btn-large btn-primary"%>
	<h2>
		<br/>Zaten üye misiniz ? Hemen giriş yapın !
	</h2>
	<%= link_to "Giriş Yap", signin_path , class: "btn btn-large btn-primary"%>

</div>

<!--<%= link_to image_tag("rails.png",alt:"Rails"), 'http://rubyonrails.org/'%>!-->
