<footer class="footer">
	<small>
		AMS by Group MUST
	</small>
	
	<nav>
		<ul>
			<li><%= link_to "Hakkımızda", about_path %></li>
			<li><%= link_to "İletişim", contact_path %></li>
			<li><a href="http://news.railstutorial.org/">News</li>
		</ul>
	</nav>
	
</footer>
