<footer class="footer">
	<small>
		<a href="http://railstutorial.org/">Rails Tutorial</a>
		by Micheal Hartl
	</small>
	
	<nav>
		<ul>
			<li><%= link_to "Hakkında", about_path %></li>
			<li><%= link_to "İletişim", contact_path %></li>
			<li><a href="http://news.railstutorial.org/">News</li>
		</ul>
	</nav>
	
</footer>
